.image-container {
    position: absolute;
    padding: 0!important;
    margin: 0 !important;
    background-size: cover !important;
}
.videoimg img {padding:15px;}
.folio-cards {
	padding-top: 20px;
}
#toTop {
	z-index: 500;
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border: 3px solid @brand-primary;
	background: transparent;
    font-size: 40px;
	border-radius: 50%;
	.shadow-level(4);
	transition:         all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover {
		background: rgba(255,255,255, 0.7);
	}	
	i {
		position: absolute;
		top:0px;
		left:1px;
		color: @brand-primary;
	}
}

.uploadedfiles .uploadedfile:nth-child(4n+1) {
    content: ' ';
    display: 'block';
    clear: both;
}

.margintop10{
	margin-top: 10px;
}
.marginbottom10{
	margin-bottom: 10px;
}

.gal {
	display: block;
	margin-bottom: 20px;
}

.lead {
  font-size: floor((@font-size-base * 1.15));

  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.2);
  }
}
.slick-slider {
    margin-bottom: 0px!important;
}
.slick-prev:before, .slick-next:before {
	color: #cc2036;
}

.modal {
     overflow-y: auto;
     }
    .modal-open {
    overflow: auto;
    }
    .modal-open[style] {
    padding-right: 0px !important;
    }